palette {
  color: #f2f4f3;
  color: #e5e5e5;
  color: #dcdcdd;
  color: #a1c8da;
  color: #65b4d7;
  color: #0077b6;
  color: #f57600;
  color: #00296b;
  color: #0ead69;
}

.main {
  width: 60vw;
  height: 95vh;
  margin: 2.5vh auto;
  background-color: #f2f4f3;
  border: solid 2px #00296b;
  border-radius: 5px;
  position: relative;
}

.start {
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1rem;
}

.start--title {
  color: #00296b;
}

.start--description {
  color: #0077b6;
}

.check {
  display: flex;
  flex-direction: column;
  margin: 2vh 2vw;
  align-items: center;
  justify-content: space-evenly;
}

.check--title {
  color: #00296b;
}

.question {
  margin-top: 1vh;
}

.question--question {
  color: #00296b;
  margin-top: 3vh;
  font-size: 1.1rem;
}

.question--answers {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.answer {
  margin: 0 0.2rem;
  border: solid 1px #0077b6;
  padding: 0.2rem 1rem;
  background-color: #0077b6;
  color: #f2f4f3;
  border-radius: 0.4rem;
}

.answer-selected {
  background-color: #a1c8da;
  color: #00296b;
}

.answer-green {
  background-color: #0ead69;
}

.start--button {
  max-width: 30vw;
  margin-top: 2vh;
  background-color: #00296b;
  color: #f57600;
  border-radius: 5px;
  padding: 0.7rem 2.5rem;
  font-size: 1.2rem;
}